.light-gray {
  background-color: #e0e0e0;
}

.purple-blue {
  background-color: #8444ff;
}

.light-blue {
  background-color: #c6e2ff;
}

.light-mustard {
  background-color: #ffea9f;
}

.light-green {
  background-color: #e5f494;
}

.salmon {
  background-color: #6f4242;
}

.spring-green {
  background-color: #99ffcc;
}

.emerald-green {
  background-color: #a1e9ce;
}

.orchid {
  background-color: #e990ff;
}

.plum {
  background-color: #ffc9ff;
}
