body {
  font-family: sans-serif;
}

.container {
  width: min(95%, 1200px);
  margin: 0 auto;
}

h1 {
  font-size: 2.25rem;
  text-align: center;
  margin: 1em 0;
  position: relative;
  z-index: 10;
  color: #7a8b8b;
  font-weight: 700;
}

.flex-between {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  code block */

.code-block {
  position: absolute;
  width: 100%;
  background-color: #edf8f8;
  left: 0;
  top: 0;
  height: 0;
  z-index: 5;
  transition: height 300ms ease-in-out;
}

.code-block.open {
  height: 100vh;
}

.code-block main {
  top: 150px;
  display: none;
}

.code-block.open main {
  display: block;
}

#close-btn {
  position: absolute;
  right: 2em;
  top: 1em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.code-block.open #close-btn {
  display: block;
}

/* code container */

.code-container {
  position: relative;
  width: 60%;
  left: 40%;
  box-shadow: 0 0 5px #aaa, 0 0 1em #dedede;
}

.code-container .code {
  height: 450px;
  border: 3px solid #7a8b8b;
  background-color: #fff;
  overflow-y: scroll;
  padding: 1em 2em;
}

.tab-links {
  display: flex;
  background-color: #efefef;
}
.tab-links li {
  font-size: 1.15rem;
  padding: 0.65em;
  background-color: #efefef;
  cursor: pointer;
  user-select: none;
}

.tab-links li.active {
  background-color: #7a8b8b;
  color: #fff;
}

.copy-btn-container {
  background-color: #efefef;
  padding: 0.5em;
  border-radius: 0 0 0.75em 0.75em;
}

/*  toggle containers */

main {
  position: relative;
}

.toggle-container {
  width: min(90%, 300px);
  height: 280px;
  border-radius: 0.75em;
  margin: 1em;
  box-shadow: 0 0 5px #aaa, 0 0 1em #dedede;
  border: 3px solid transparent;
  background-color: #fff;
  transition: border 150ms ease-in-out, width 350ms ease-in-out;
  position: relative;
}

.toggle-container:hover {
  border: 3px solid #2f4f4f;
}

.row-1 {
  height: 210px;
}

.row-2 {
  background-color: #efefef;
  border-radius: 0 0 0.75em 0.75em;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 1em;
}

.btn {
  font-size: 1.05rem;
  text-transform: capitalize;
  padding: 0.5em 1em;
  border-radius: 0.45em;
  font-weight: 700;
  transition: all 150ms ease-in-out;
}

.view-btn {
  width: 80%;
  background-color: #2da44e;
  color: #fff;
  padding: 0.75em 1em;
}

.view-btn:hover,
.copy-btn:hover {
  background-color: #2f8748;
}

.copy-btn {
  background-color: #2da44e;
  color: #fff;
}

/* added via JS */

.toggle-container.show {
  z-index: 10;
  left: 3em;
  top: 120px;
  width: 33%;
  height: 430px;
  margin: 0;
  position: absolute;
}

.toggle-container.show .row-1 {
  height: 100%;
}

.toggle-container.show .row-2 {
  display: none;
}

.toggle-container.show .toggle {
  transform: scale(1.2);
}

/*  footer */

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-row:nth-child(1) {
  background-color: #ddd;
  padding: 1em 0;
}

.footer-row:nth-child(2) {
  background-color: #2f4f4f;
}

footer ul {
  display: flex;
  justify-content: center;
  /* border: 2px solid blue; */
}

footer ul li {
  margin: 0 1em;
  font-size: 1.15rem;
  color: #2f4f4f;
  font-weight: 700;
}

footer p {
  text-align: center;
  padding: 0.75em 0;
  color: #fff;
  user-select: none;
}

@media (max-width: 1024px) {
  .container {
    width: min(95%, 1200px);
    margin: 0 auto;
  }

  .toggle-container.show {
    left: 0;
    width: 100%;
    height: 250px;
  }

  .code-container {
    width: 100%;
    left: 0;
  }

  .code-block.open {
    height: 200vh;
  }

  .code-block main {
    top: 500px;
    display: none;
  }
}

@media (max-width: 768px) {
  .flex-between {
    flex-direction: column;
  }

  .toggle-container {
    width: min(90%, 320px);
    height: 250px;
  }

  .row-1 {
    height: 170px;
  }

  .row-2 {
    height: 75px;
  }

  .toggle-container.show {
    left: 0;
    width: 100%;
    height: 250px;
  }

  .code-container {
    width: 100%;
    left: 0;
  }

  .code-block.open {
    height: 180vh;
  }

  .code-block main {
    top: 450px;
    display: none;
  }

  .toggle-container.show .toggle {
    transform: scale(1.05);
  }

  #close-btn {
    right: 0.5em;
    top: 0.5em;
    font-size: 1.5rem;
  }

  .code-container .code {
    overflow: scroll;
    padding: 0.5em 1em;
  }

  footer {
    position: relative;
    width: 100%;
    bottom: 0;
    top: 50px;
  }

  footer ul li {
    margin: 0 0.5em;
    font-size: 0.95rem;
  }

  footer p {
    font-size: 0.95rem;
  }
}
